/* Style des messages */
.message-error {
    color: red;
    font-size: 14px;
    margin-top: 4px;
}

.message-success {
    color: green;
    font-size: 14px;
    margin-top: 4px;
}

/* Style des champs incorrects */
.input-error {
    border: 2px solid red !important;
    background-image: url('cross.png'); /* ❌ */
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 18px;
}

/* Style des champs corrects */
.input-success {
    border: 2px solid green !important;
    background-image: url('check.png'); /* ✔ */
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 18px;
}

/* Pour rendre الحقل نظيف بدون مشاكل */
input, textarea {
    padding-right: 35px;
    outline: none;
}
