<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Réclamations - Admin</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <header>
    <img src="logo.jpg" alt="Smart Lancer" class="logo">
    <h1>Tableau des Réclamations</h1> 
    <nav>
      <a href="#">Archives</a>
      <a href="#">Déconnexion</a>
    </nav>
  </header>

  <section>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Utilisateur</th>
          <th>Sujet</th>
          <th>Date</th>
          <th>Statut</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Mariem</td>
          <td>Problème de paiement</td>
          <td>2025-11-12</td>
          <td><span class="statut attente">En attente</span></td>
          <td>
            <!-- Tnajjem taaml hakka toul b <a href> men8iir JS -->
            <a href="repondre.html">
              <button class="repondre">Répondre</button>
            </a>

            <button class="supprimer" onclick="alert('Réclamation 1 supprimée !');">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <footer>© 2025 Admin Freelance Platform</footer>
</body>
</html>
