body {
    font-family: Arial, sans-serif;
    background: #d6f5d6;;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background:  rgba(255, 255, 255, 0.6);; /* vert clair */
    padding: 25px 35px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}
.logo {
    display: block;
    margin: 0 auto 20px auto;
    max-width: 140px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #2f4f2f;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 12px;
    margin: 6px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.success-message {
    background-color: #d8f5d8;
    color: #2d6a2d;
    padding: 12px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 15px;
}

.actions {
    display: flex;
    gap: 12px;
    margin-top: 15px;
    flex-wrap: wrap;
}

.button {
    padding: 10px 18px;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.button.delete { background: #e74c3c; }
.button.edit { background:#2f4f2f  ; }
.button.add-new { background: #2e728b; }
.button.back { background:  #2e8b57; }

.button:hover { opacity: 0.9; }

.back-zone {
    margin-top: 15px;
    text-align: center;
}

footer {
    background: #2f4f2f;
    color: white;
    padding: 15px 10px;
    text-align: center;
    margin-top: 40px;
}
/* ---------------------------------
   VALIDATION JS AVEC ICONES ✔ ✖
---------------------------------- */

.input-success {
    border: 2px solid #1b7c3d !important;
    background: #e6ffea url('check.png') no-repeat right 12px center;
    background-size: 20px;
}

.input-error {
    border: 2px solid #e63946 !important;
    background: #ffe6e6 url('cross.png') no-repeat right 12px center;
    background-size: 20px;
    animation: shake 0.15s;
}

span.error {
    display: block;
    font-size: 14px;
    color: red;
    margin-top: 3px;
    height: 18px;
    font-weight: 600;
}

/* Animation shake */
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-4px); }
    50% { transform: translateX(4px); }
    75% { transform: translateX(-4px); }
    100% { transform: translateX(0); }
}
