<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>SmartLancer</title>
</head>
<body>

  <header>
    <h1> SmartLancer</h1>
    <a href="#">🚪 Déconnexion</a>
    <link rel="stylesheet" href="chatcss.css">

  </header>

  <div class="chat-box">
    <div class="message received">
      Bonjour ! Votre proposition a été acceptée 🌿
      <small>10:15</small>
    </div>
    <div class="message sent">
      Super, merci beaucoup ! Quand pouvons-nous commencer ?
      <small>10:17</small>
    </div>
    <div class="message received">
      On peut discuter des détails ici même.
      <small>10:18</small>
    </div>
  </div>

  <form>
    <input type="text" placeholder="Écrire un message...">
    <button type="button">Envoyer</button>
  </form>

</body>
</html>
